@using Microsoft.AspNetCore.Identity
@using LocalScout.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- User Profile Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                <i class="far fa-user"></i>
                <span class="d-none d-md-inline ml-1">@(currentUser?.FullName ?? User.Identity?.Name ?? "User")</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">
                    <i class="fas fa-user-edit mr-2"></i> Manage Profile
                </a>
                <div class="dropdown-divider"></div>
                <form asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post"
                    class="dropdown-item-form">
                    <button type="submit" class="dropdown-item">
                        <i class="fas fa-sign-out-alt mr-2"></i> Logout
                    </button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus"></i>
                <span class="d-none d-md-inline ml-1">Register</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt"></i>
                <span class="d-none d-md-inline ml-1">Login</span>
            </a>
        </li>
    }
</ul>