<!-- Notification Icon -->
<li class="nav-item">
    <a class="nav-link position-relative" href="#" data-toggle="modal" data-target="#notificationListModal" role="button">
        <i class="far fa-bell"></i>
        <span id="notificationBadge" class="badge badge-danger navbar-badge" style="display: none;">0</span>
    </a>
</li>

